
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Inicio </title>
  </head>
  <body>
    <h1>Inicio</h1>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{% url "Registro" %}">
                <button type="button" class="btn btn-success">Añadir contacto</i></button>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Número de Celular</th>
                    <th>Correo</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>

                {% for contact in contactos %}
                <tr>
                    <td>{{ contact.nombre | title }}</td>
                    <td>{{ contact.apellido | title }}</td>
                    <td>{{ contact.numeroCelular }}</td>
                    <td>{{ contact.correo }}</td>
                    <td>
                        <img src="{{ contact.foto.url }}" alt="foto">
                     
                    </td>
                    <td> 
                        <a href="{% url "Actualizar" contact.id %}">
                            <button type="button" class="btn btn-success">Actualizar</i></button>
                        </a>
                        <a href="{% url "Eliminar" contact.id %}">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div class="col-md-4"></div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>